@page "/admnews"
@inject Radzen.DialogService dialogService
@inject DialogService DialogService

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 p-3">
            <RadzenCard>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName">Open page as a dialog</RadzenText>
                @*<RadzenButton Text="DFDF" Style="width: 100%;" ButtonStyle="ButtonStyle.Secondary" Click=@OpenOrder />*@
                <RadzenButton Text="Show dialog with inline Blazor content" Click=@OpenOrder />
            </RadzenCard>
        </div>
        
    </div>
</div>



@code {
    
    async Task OpenOrder()
    {
        var result = await DialogService.OpenAsync("Simple Dialog", ds =>
    @<div>
        <p Style="margin-bottom: 1rem">Confirm?</p>
        <div class="row">
            <div class="col-md-12">
                <RadzenButton Text="Ok" Click="() => ds.Close(true)" Style="margin-bottom: 10px; width: 150px" />
                <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
                
            </div>
        </div>
    </div>);

        Console.WriteLine($"Dialog result: {result}");
    }
}
