@page "/eliminarcategoria/{Idcat:int}"
@inject NavigationManager navegador
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@using Data
<h3>Eliminar Categoria</h3>
<p>Deseas Eliminar el @Idcat? </p>
<div>
	<button @onclick="Cancelar">Cancelar</button>
	<button @onclick="Eliminar">Eliminar</button>
</div>
@code {
	[Parameter]
	public int Idcat { get; set; }
	Respuesta<object> orespuesta = new Respuesta<object>();
	public string url = "/api/categorias";
	private void Cancelar() => navegador.NavigateTo("/categorias");
	private async Task Eliminar()
	{

		var response = await Http.DeleteAsync(url + "/" + Idcat);
		orespuesta = response.Content.ReadFromJsonAsync<Respuesta<object>>().Result;
		navegador.NavigateTo("/categorias");
	}
}
