@page "/"

<h1>Universidad Adventista de Bolivia!</h1>

Bienvenido al Sistema.

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HIVER TAPIA DOMINGUEZ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contactos</a>
          </li>
        </ul>
        <span class="navbar-text">
            <input type="datetime">
            <a class="px-4 nav-link" href="#" [routerLink]="['/auth']">Login</a>
        </span>
      </div>
    </div>
  </nav>

<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
      <div class="me-5 d-none d-lg-block">
        <span>Acerca de..:</span>
      </div>
    
</footer>