@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject TokenProvider TokenProvider

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage/Index">
            Bienvenido, @context.User.Identity.Name!
        </a>
        <form action="/Identity/Account/Logout?returnUrl=%2F" method="post">
            <button class="nav-link btn btn-link oi oi-account-logout" type="submit">Cerrar Session</button>
            <input name="__RequestVerificationToken" type="hidden"
                   value="@TokenProvider.XsrfToken">
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="oi oi-inbox" href="Identity/Account/Register">Registrarse</a>
        <a class="oi oi-account-login" href="Identity/Account/Login">Iniciar Session</a>
    </NotAuthorized>
</AuthorizeView>